*:before,
*:after
  -webkit-
body
  font-family: Arial
nav
  overflow: hidden
nav
  ul:first-child
    float: left
    padding: 0
    li
      float: left
      font-size: 1.15em
      padding: .4em
      text-decoration: none
      list-style: none
      color: black
nav
  ul:last-child
    float: right
    li
      float: right
      font-size: 1.15em
      padding: .25em
      text-decoration: none
      list-style: none
      color: black
nav
  ul
    li:hover
      color: red
      font-size: 1.25em
      padding: .15em
header
  clear: both
  margin-top: 2.5em
  .mainTitle
    font-size: 2em
    position: relative
    text-align: center
    font-weight: bold
  .mainDesc
    font-size: 1.25em
    position: relative
    text-align: center
    font-weight: normal
    margin-top: .5em
section
  a
    text-decoration: none
    color: inherit
  p
    font-size: 2em
    font-weight: bold
    color: skyblue
    position: relative
    margin-top: 2.5em
    text-align: center
.go:hover
  font-size: 2.5em
  margin-top: 2em
  color: red
.addForm
  #addButton
    position: relative
    font-size: .75em
    color: black
    padding: .25em
    border-radius: 5px
    margin: auto
    clear: both
  #addTextBox
    position: relative
    margin: .5em
    margin: auto
#showContacts
  height: auto
  border: 1px solid black
.showContactsTitle
  text-align: center
  color: skyblue
  text-decoration: underline
#output
  margin-top: 3em
#output
  p
    height: auto
    text-align: left
    font-size: 1em
    margin-top: .5em
    font-weight: normal
    color: black
    padding-left: .5em
    margin-bottom: 1em
.modal-footer
  input
    position: relative
    display: inline-block !important
#myModal
  input
    position: relative
    margin: .5em
    font-size: 1em
    display: block
#addSign
  position: relative
  left: 1.5%
  margin-top: .5em
  background-color: transparent
  border-radius: 5px
#addSign:hover
  color: red
.numberInputs
  input
    display: inline-block !important