!!! 5
%html
  %head
    %title Address Book
    %link(type="text/css" rel="stylesheet" href="css/main.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  %body
    %div.container
      %nav
        %ul.navLeft
          %li Home
          %li Add Contacts
        %ul.navRight
          %li Log In
          %li Sign Up
          %li Settings
      %header
        %p.mainTitle Your Address Book
        %p.mainDesc The place for people
      %section
        %a(href="#")
          %p Go Now
  %script(src="js/js.js)