!!! 5
%html
  %head
    %title Add Contacts
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    %link(type="text/css" rel="stylesheet" href="../css/main.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  %body
    %div.container
      %nav
        %ul
          %a(href="../index.html")
            %li Home
          %a(href="index.html")
            %li Add Contacts
        %ul
          %a(href="#")
            %li Log In
          %a(href="#")
            %li Sign Up
          %a(href="#")
            %li Settings
      %section
        %div#showContacts
          %h1.showContactsTitle My Contact List
          %div#addDiv
          %input(type="button" id="addSign" data-toggle="modal" data-target="#myModal" value="Add Contact")
          %div(id="myModal" class="modal fade" role="dialog")
            %div.modal-dialog
              %div.modal-content
                %div.modal-header
                  /%input(type="button" class="close" data-dismiss="modal" value="&times")
                  %h4.modal-title Add Contact
                %div.modal-body
                  %input(type="text" id="addName" placeholder="Enter Name")
                  %div.numberInputs
                    %input(type="text" id="addNumber1" placeholder="XXX" size="3" maxlength="3")
                    %input(type="text" id="addNumber2" placeholder="XXX" size="3" maxlength="3")
                    %input(type="text" id="addNumber3" placeholder="XXXX" size="4" maxlength="4")
                %div.modal-footer
                  %input(type="button" class="btn btn-default" id="clickToAdd" value="Create Contact")
                  %input(type="button" class="btn btn-default" data-dismiss="modal" value="Close")
          %div#output
  %script(src="../js/js.js")